/*// Place all the styles related to the Pokedex controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

html {
  background-image: url("background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-family: 'Jura';
  text-align: center;
  margin: auto;
  float: none;
}

.pokedex {
  width: 30%;
  height: 500px;
  background: tomato;
  margin: auto;
  float: none;
  border-radius: 27px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  position: relative;
}

.sprite {
  width: 60%;
  left: 20%;
  height: 200px;
  background: white;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 20px;
  border-style: solid;
  border-color: black;
  border-width: thin;
  position: absolute;

}

.description {
  width: 80%;
  left: 10%;
  height: 200px;
  background: rgba(163, 255, 117, .9);
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 270px;
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: thin;
  color: rgb(41, 122, 41);
}

img {
  margin-top: 2em;
}
