<h1>POKEDEX</h1>

<div class="pokedex">
  <h1 class="sprite">Sprite</h1>
  <div class="description">
    <h3>Pokemon Name, #---</h3>
    <h4>Description</h4><br><br>
    <h4>Type1: lorem // Type2: ipsum </h4>
    <h4>Type2: lorem // Type2: ipsum </h4>
  </div>
</div>
